
extends layout

block content
	div.container(style='margin:20px')
		table.table.table-bordered.table-striped
			thead
				tr
					th(style='width:40px') #
					th(style='width:180px') Username
					th(style='width:200px') Email
					th Account Created
			tbody
			- for (var i = 0; i < accts.length; i++)
				tr
					td= i+1
					td= accts[i].username
					td= accts[i].email
					td= accts[i].create_time
